  <div class="row">
    <% @products.each do |product| %>
        <div class="col-lg-4">
          <h3><%=link_to product.name, product %></h3>
          <p><%= image_tag product.image.url %></p>
          <p><b>Price:</b> <%= product.base_price %></p>
          <p><%= product.description %></p>
          <p><%=link_to( image_tag("ecom/add-to-cart-button.png"), add_to_cart_path(product.id)) %></p>
        </div>
    <%end%>
