<p id="notice"><%= notice %></p>

<p>
  <h2><%= @product.name %></h2>
</p>

<p>
  <strong>Sku:&nbsp;</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Price:&nbsp;</strong>
  <%= @product.base_price %>
</p>

<br/>
<p>
  <%=image_tag @product.image.url %>
</p>

<p><%=link_to( image_tag("ecom/add-to-cart-button.png"), add_to_cart_path(@product.id)) %></p>

<!--<%if user_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>-->
